@import "bourbon";

$basefont: "source-sans-pro", sans-serif;
$basecolor: #4D4D4D;
$bodytext: #7E7E7E;

/* --------------------------------------------------
   index style
-----------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	font-size: 1em;
	direction: ltr;
}

body {
    margin: 0;
    font-family: $basefont;
    color: $basecolor;
}

.intro {
   background: #FFDB00;
}

a {
    text-decoration: none;
    color: $basecolor;
    
    &.logotype {
    font-size: 1.25em;
    font-weight: normal;
    }
    
    > p.portfolio {
    text-decoration: none;
    color: $basecolor;
    font-weight: normal;
    font-size: 1.25em;
    }
        
    .social &:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
    }  
}

/*nav bar*/

nav {
    margin: 0;
	@include display(flex);
	@include justify-content(center);
    
    ul.navbar  {
    list-style-type: none;
    @include display(flex);
    @include flex-flow(row wrap);
    width: 95%;
    @include justify-content(center);
        
    }
    
    li {
    @include align-self(center);
    @include display(flex);
	@include align-items(center);
    margin-right: 30px;
        
        &.space {
            margin-right: 100px;
        }
    
    }
    
}

.logo {
    margin-right: auto;
}

a.logo_c {
    font-size: 5em;
    font-weight: bold;
}

.logotype {
    margin-left: 20px;
}

/*index subcontent*/

.intro2 {
    height: 300px;
    @include display(flex);
    @include flex-flow(column);
    @include align-items(center);
    margin-top: 9%;
}

h1 {
    font-size: 6.7em;
    font-weight: bold;
}

h2 {
    font-size: 3.8em;
    font-weight: normal;
    margin-top: -10px;
}

h6 {
    font-family: $basefont;
    font-size: 1.25em;
    font-weight: lighter;
}


.change {
    font-size: 2.4em;
    font-weight: lighter;
}

.resume_downa {
    margin-top: 7%;
}

#down {
  @include animation(bounce2 2s infinite);
}

.resume_downt {
    margin-top: 2%;
}

@include keyframes(bounce2) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-30px));
  }
  60% {
    @include transform(translateY(-15px));
  }
}

/*profile content*/

#resume {
    background: #D6D6D6;
    width: 100%;
    height: 600px;
    
    div& {
    @include display(flex);
	@include justify-content(center);
    }
}

section.profile {
    display: flex;
    width: 90%;
}

h3.ptitle {
    font-size: 3.125em;
}

p.pdescription {
    font-size: 1.6em;
    font-weight: normal;
    color: $bodytext;
}

article {
    @include align-self(center);
    
    &.description {
    &.description {
        @include flex(1);
    }
    
    &.links {
        @include flex(1);
        @include display(flex);
        @include flex-flow(column);
    }
}

hgroup {
    text-align: center;
}

/*footer*/

footer {
    background-color: #EFEFEF;
    text-align: center;
    padding-top: 30px;
    height: 60px;
}

/* --------------------------------------------------
   tablet screen styles
-----------------------------------------------------*/

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
      .intro2 {
          margin-top: 30%;
          display: block;
      }

}