$basefont: "source-sans-pro", sans-serif;
$basecolor: #4D4D4D;
$bodytext: #7E7E7E;
$basebg: #EFEFEF;

@import "bourbon";
@import "main";
// @import "portfolio";

/* --------------------------------------------------
   index style
-----------------------------------------------------*/
html {
    font-size: 16px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	font-size: 1em;
	direction: ltr;
}

body {
    margin: 0;
    font-family: $basefont;
    color: $basecolor;
    font-size: 62.5%; //    1em = 10px
}

.home {
   background: #FFDB00;
}

a > p.portfolio.menu-bold {
    font-weight: bolder;
}

a {
    text-decoration: none;
    
    &.logo_c {
        color: $basecolor;
    }
    
    &.logotype {
    font-size: 2em; //20px
    font-weight: normal;
    color: $basecolor;
    }
    
    > p.portfolio {
    text-decoration: none;
    color: $basecolor;
    font-weight: normal;
    font-size: 2em; //20px
    }
        
    .social &:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
    color: $basecolor;
    }  
}


/*nav bar*/

nav {
    margin: 0;
	@include display(flex);
	@include justify-content(center);
    
    ul.navbar  {
    list-style-type: none;
    @include display(flex);
    @include flex-flow(row wrap);
    width: 95%;
        
    }
    
    li {
    @include display(flex);
	@include align-items(center);
    margin-right: 3%;
        
        &.space {
            margin-right: 10%;
        }
    
    }
    
}

.logo {
    margin-right: auto;
}

a.logo_c {
    font-size: 8em;
    font-weight: bold;
}

.logotype {
    margin-left: 7%;
    width: 125px;
}


/*index subcontent*/

.intro2 {
    @include display(flex);
    @include flex-flow(column);
    @include align-items(center);
    margin-top: 13em;
}

.resume_downa {
    margin-top: 9em;
}

.resume_downt {
    margin-top: 2em;
}

h1 {
    font-size: 8em;
    font-weight: bold;
}

h2 {
    font-size: 6em; //72px
    font-weight: normal;
    margin-bottom: 0.1em;
}

h6 {
    font-family: $basefont;
    font-size: 2em; //20px
    font-weight: lighter;
}


.change {
    font-size: 3em; //40px
    font-weight: lighter;
} 

#down {
  @include animation(bounce2 2s infinite);
}

@include keyframes(bounce2) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-2em));
  }
  60% {
    @include transform(translateY(-1.5em));
  }
}

/*profile content*/

#resume {
    background: #D6D6D6;
    width: 100%;
    height: 700px;
    @include display(flex);
	@include justify-content(center);
}

section.profile {
    @include display(flex);
    width: 90%;
}

h3.ptitle {
    font-size: 4.5em; //50px
    margin-bottom: 0.6em;
}

p.pdescription {
    font-size: 2em; //25px
    font-weight: normal;
    color: $bodytext;
}

article {
    @include align-self(center);
    
    &.description {
        @include flex(1);
    }
    
    &.links {
        @include flex(1);
        @include display(flex);
        @include flex-flow(column);
        align-items: center;
        }
}

//#cv {
//    width: 100px;
//    height: auto;
//}

.margincv {
    margin-bottom: 2em;
}

hgroup {
    @include align-items(center);
    @include display(flex);
    @include flex-flow(column);
    text-align: center;
}

/*footer*/

footer {
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
    background-color: $basebg;
    text-align: center;
    height: 60px;
    font-size: 1.5em;
}

/* --------------------------------------------------
   portfolio style
-----------------------------------------------------*/

.portfolio2 {
    background-color: $basebg;
}

div.grid {
    @include display(flex);
    @include justify-content(space-around);
}

section.cover {
    @include display(flex);
    @include flex-flow(wrap);
    @include justify-content(center);
    margin-top: 2em;  
    margin-left: 1.5em;
    width: 90%;
}

section.cover > div {
    max-height: 500px;
    min-height: 500px;
    max-width: 35em;
    min-width: 35em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    overflow: hidden;
}

article {
    &.cover_t {
    margin: 2em 2em 2em 2em;
    }
    
    &.tags {
        @include display(flex);
        
        >p {
           margin-right: 1.5em;
            color: #fff;
            font-size: 1.8em;
        }
    }
}

p.period {
    font-size: 4em;
    margin-top: -0.5em;
    color: #fff;
    letter-spacing: 0.08em;    
}

h4 {
    color: #fff;
    font-size: 2.6em;
    letter-spacing: 0.04em;
    font-weight: bold;
}

div.grid-hover:hover{
    opacity: 0.7;
}

#image-paila {
    margin-left: 53px;
    
}

h4.black, article.tags.black > p {
    color: $basecolor;
}

#image-paypal {
    margin-left: 18px;
    width: 90%;
    height: 90%;
    margin-top: 50px;
}

#image-zum {
    margin-left: 35px;
    width: 80%;
    height: 80%;
}

#image-quater {
    margin-left: 18px;
    width: 90%;
    height: 90%;
    margin-top: 50px;
}

#image-ocd {
    margin-left: -130px;
    width: 140%;
    height: 90%;
    margin-top: 50px;
}

#image-history {
    width: 80%;
    height: 80%;
    margin-top: -30px;
    margin-left: 30px;
}

#image-blender {
    width: 90%;
    height: 90%;
    margin-left: 20px;
}

#image-buble {
    width: 85%;
    height: 85%;
    margin-left: 20px; 
    margin-top: 15px;
}

#image-addams {
    width: 60%;
    height: 60%;
    margin-top: -160px;
    margin-left: 150px;
}

#image-releve {
    width: 80%;
    height: 80%;
    margin-left: 33px;
    margin-top: 7px;
}

#image-posters {
    width: 85%;
    height: 85%;
    margin-left: 26px;
}

.pailasq {
    background-color: #FA6D20;
}

.paypalsq {
    background-color: #01A6E5;
}

.zumsq {
    background-color: #EE3931;
}


.bublesq {
    background-color: #C61E4B;
}

.addamsq {
    background-color: #191818;
}

.postersq {
    background-color: #414042;
}

.blendersq {
    background-color: #DD3745;
}

.javasq {
    background-color: #38E6A6;
}

.java2sq {
    background-color: #CEEFFF;
}

.relevesq {
    background-color: #DBB27B;
}

.infosq {
    background-color: #FAFBFA;
}

/* --------------------------------------------------
   releve styles
-----------------------------------------------------*/

.releve-dark-bg {
    background-color: #231F20;
}

/* --------------------------------------------------
   zumzum styles
-----------------------------------------------------*/

img.team-photos {
    width: 70%;
    height: auto;
    margin-top: 20px;
    margin-left: 13px;  //    center image without using margin
}

p.name, p.position {
    color: #fff;
    font-size: 1.3em;
    text-align: center
}

.team {
    @include display(flex);
}

.zum-icons, .zum-process {
    @include display(flex);
    @include flex-flow(wrap);
    @include justify-content(center);
}

.zum-icons {
    width: 70%;
}

.zum-process {
    width: 85%;
}

.zum-website {
    width: 85%;
    @include display(flex);
    @include flex-flow(wrap);
}

.zum-menu {
    margin-right: 3em;
    margin-bottom: 3em;
}

.zum-flow {
    width: 100%;
    height: 100%;
}


div.zum-align {
    @include display(flex);
    @include justify-content(center);
}

.zum-column{
    @include flex-direction(column);
}

.zum-logo {
    margin: 4em 0 4em 0;
}

img.zum-shadow {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0;
    margin: 0 0 7em 0;
}

#zum-web {
    width: 50%;
    height: 50%
}


/* --------------------------------------------------
   buble styles
-----------------------------------------------------*/

.buble-content {
    @include display(flex);
    @include align-items(center);
    background-color: #C61E4B;
    @include flex-flow(column);
}

#buble-img {
    width: 90%;
    height: auto;
    margin-bottom: 6em;
    margin-top: 2em;
}

#buble-video {
    margin-bottom: 5em;
    margin-top: -4em;
}

/* --------------------------------------------------
   posters styles
-----------------------------------------------------*/

.posters-flex {
    @include display(flex);
    @include justify-content(center);
    margin-bottom: 3em;
}

.posters-shadow {
    width: 50%;
    height: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0;
    margin: 0 0 3em 0;
}

.poster-text {
    color: $basecolor;
    font-size: 2em;
    padding: 3em 0 3em 0;
}

.posters-names {
    background-color: #D8D8D8;
}

/* --------------------------------------------------
   history of design styles
-----------------------------------------------------*/

.info-imgage {
    width: 20%;
    height: 100%;
}

#info-img {
    width: 65%;
    height: 65%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0;
    margin: 4em 0 4em 0;
}

.history-content {
    background-color: #FAFBFA;
    @include display(flex);
    @include flex-flow(column);
}

.history-center, div.link-history, .info-video {
    @include display(flex);
    @include justify-content(center);
}

.video-history-center {
    @include display(flex);
    @include flex-flow(column);
    margin-top: 4em;
    font-size: 2em; //20px
    font-weight: normal;
    color: $basecolor;
    
    > p {
        text-align: center;
        
        > a {
           color: $basecolor; 
        }

    }
}

a#info-video, p.p-center {
    text-align: center
}

/* --------------------------------------------------
   javaS-1 styles
-----------------------------------------------------*/

#javas-html {
    width: 80%;
    min-height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0;  
    margin: 2em 0 9em 0;
    @include display(flex);
    @include justify-content(center);
    cursor: pointer;
}

.java-grid {
    @include display(flex);
    @include justify-content(center);
    
}

.javas-content {
    align-self: center;
    font-size: 2em;
    cursor: pointer;
}

/* --------------------------------------------------
   javaS-2 styles
-----------------------------------------------------*/

#javas2-html {
    width: 80%;
    min-height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0;  
    margin: 2em 0 9em 0;
    @include display(flex);
    @include justify-content(center);
    cursor: pointer;
    background-color: #000;
}

.java2-grid {
    @include display(flex);
    @include flex-flow(column);
    @include align-items(center);
    
}

.javas2-content {
    align-self: center;
    font-size: 2em;
    cursor: pointer;
}

/* --------------------------------------------------
   blender styles
-----------------------------------------------------*/

.blender-text {
    font-size: 2em;
    color: #fff;
}

.blender-width2 {
    width:  80%;
}

.blender-grid {
    @include display(flex);
    @include align-items(center);
    @include flex-flow(wrap);
}

.graysq {
    background-color: #D8D8D8;
    color: $bodytext;
    font-size: 2em;
    text-align: center;
    padding: 3em 0 3em 0;
}

.blender-div {
    flex: 1;
}

/* --------------------------------------------------
   addams styles
-----------------------------------------------------*/

#addams-svg {
    height: 100%;
    width: 20%;
    margin-right: -81px;
}

.arrows-each {
    top: 87%;
    position: absolute;
}

.addams-grid {
    @include display(flex);
    @include justify-content(center);
}

.addams-content {
    background: url(../img/addams/Spider-Web-7.png) no-repeat center center;
    background-size: cover;
}

#addams-img {
    width: 80%;
    height: 80%;
    box-shadow: 0 0px 58px 30px rgba(0, 0, 0, 1);
    margin: 6rem 0 6rem 0;
}

.characters {
    @include display(flex);
    @include flex-flow(wrap);
    @include justify-content(center);
    padding: 6rem 0 6rem 0;
    
    > div {
        margin-right: 2em;
        margin-bottom: 3rem;
    }
}


/* --------------------------------------------------
   paila styles
-----------------------------------------------------*/

section.introp {
    @include display(flex);
    @include flex-flow(column);
    @include justify-content(center);
    margin-top: 4em;
    
    
    > article {
        @include display(flex);
        @include flex-flow(row);
        width: 87%;
    }
}

li.logo.white > a{
    color: #fff;
}
    
.paragraph {
    color: #fff;
    font-size: 2.2em;
    line-height: 1.6em;
    font-weight: normal;
}

.paragraph2 {
    font-size: 2.2em;
    line-height: 1.6em;
    font-weight: normal;
}

.p-img-space {
    margin-right: 10em;
    
}

.pailaimg {
    height: 100%;
    width: 315px;
}

article.tags2 {
    @include display(flex);

    >p {
       margin-right: 1.5em;
        color: #fff;
        font-size: 2.5em;
        font-weight: normal;
    }
}

article.tags3 {
    @include display(flex);

    >p {
       margin-right: 1.5em;
        font-size: 2.5em;
        font-weight: normal;
    }
}

p.period2 {
    font-size: 10em;
    margin-top: -0.5em;
    color: #fff;
    letter-spacing: 0.08em;    
}

p.period3 {
    font-size: 10em;
    margin-top: -0.5em;
    letter-spacing: 0.08em;    
}

a.center_downa {
    @include align-self(center);
}

h1.titles {
    font-size: 4em;
    color: #fff;   
}

h1.titles2 {
    font-size: 4em;  
}

/* --------------------------------------------------
   paypal styles
-----------------------------------------------------*/

.paypalimg {
    height: 100%;
    width: 420px;
    
}

/* --------------------------------------------------
   ocd styles
-----------------------------------------------------*/

.black > h1{
    color: $basecolor;   
}

.black > p{
    color: $basecolor;   
}

p.black {
    color: $basecolor;
}



/* --------------------------------------------------
   cellphone screen styles
-----------------------------------------------------*/

@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px) {
      
      body {
          font-size: 60%; //    1em = 10px
          @include display(flex);
          @include flex-flow(column);
        
      }
      
      h1 {
          font-size: 7em;
      }
      
      h2 {
          font-size: 3.2em;
      }
      
      h3.ptitle {
          font-size: 3em;
      }
      
      section.profile {
          display: block;
          margin-top: 4em;
      }
      
      article.links {
          @include display(flex);
          @include flex-flow(row); 
          @include justify-content(space-around);
          @include align-items(center);
          margin-top: 4em;
      }
      
      .intro2 {
        @include display(flex);
        @include flex-flow(column);
        @include align-items(center);
        margin-top: 15em;
        }

        .resume_downa {
        margin-top: 10em;
        }

        .resume_downt {
        margin-top: 2em;
        }
//      
//        nav ul.navbar {
//          display: none;
//      }
//      
//        a > p.portfolio {
//        text-decoration: none;
//        color: #4D4D4D;
//        font-weight: normal;
//        font-size: 2em;
//        margin-right: 7px;
//    }

}
//    
///* --------------------------------------------------
//   tablet screen styles
//-----------------------------------------------------*/
//
//@media only screen
//    and (min-width: 480px)
//    and (max-width: 768px) {
//      body {
//          font-size: 60%; //    1em = 10px
//          @include display(flex);
//          @include flex-flow(column);
//        
//      }
//        
//        h2 {
//          font-size: 6em;
//      }
//        
//        .intro2 {
//    @include display(flex);
//    @include flex-flow(column);
//    @include align-items(center);
//    margin-top: 24em;
//        
//            
//            #resume {
//                height: 1024px;
//            }
//        
//      .resume_downa {
//        margin-top: 25em;
//        }
//
//        .resume_downt {
//        margin-top: 2em;
//        }
//        
//        h3.ptitle {
//          font-size: 4.5em;
//      }
//
//}
//    